@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.cellContainer {
  margin-bottom: 10px;
}
.cellRow {
  @include ms-Grid-row;
  background-color: $ms-color-neutralQuaternary;
}
.cellData {

  @include ms-Grid-col;
  @include ms-sm9;
}
.cellDataHeader {
  font-weight: $ms-font-weight-semibold;
}
.cellAdditionalInfo {
  font-weight: $ms-font-weight-regular;
}


.cellImg {
  @include ms-Grid-col;
  @include ms-sm2;
  padding: 5px;

}

.cellExpand {
  @include ms-Grid-col;
  @include ms-sm2;
  padding-top: 20px;

  :hover {
    cursor: pointer;
  }
}
